body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Modo Oscuro */
.dark {
    background-color: #222;
    color: #fff;
}


.theme-switch-wrapper {
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
}

.theme-switch-wrapper button {
    position: fixed;
    top: 3rem;
    right: 0.6rem;
}

#checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}

#checkbox:checked+span.slide:before {
    transform: translatex(2rem);
}

span.slide {
    position: absolute;
    width: 3rem;
    height: 1rem;
    background: #dadada;
    border-radius: 30px;
}

span.slide:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    background: #fff;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}